<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title | Error</title>
    <%- include partials/head.ejs %>
    <meta name="description" content="This place doesnt exist.">
    <meta property="og:description" content="This place doesnt exist.">
    <meta name="twitter:description" content="This place doesnt exist.">
    <meta itemprop="description" content="This place doesnt exist.">
</head>

<body>
    <h1 class="is-size-2">Error</h1>
    <p>Code: <%= status %></p>
</body>

</html>