<!DOCTYPE html>
<html lang="en">


<head>
    <title>Conquest | Home</title>
    <%- include partials/head.ejs %>
    <meta name="keywords" content="conquest sim, conquest bot, discord conquest, discord bot">
    <meta name="description" content="Welcome to Conquest, a resource & empire management MMO. Start your empire, forge alliances, and begin your adventure today!">
    <meta property="og:description" content="Welcome to Conquest, a resource & empire management MMO. Start your empire, forge alliances, and begin your adventure today!">
    <meta name="twitter:description" content="Welcome to Conquest, a resource & empire management MMO. Start your empire, forge alliances, and begin your adventure today!">
    <meta itemprop="description" content="Welcome to Conquest, a resource & empire management MMO. Start your empire, forge alliances, and begin your adventure today!">
</head>

<body>
    <%- include partials/nav.ejs %>
    <main class="overflow-hidden position-relative">
    
            <header class="header alter3-header section gradient gradient-primary-auxiliary text-contrast" id="home">
                <div class="shapes-container">
                    <div class="animation-shape shape-ring animation--rotating-diagonal">
                        <div></div>
                    </div>
                    <div class="animation-shape shape-circle animation--clockwise">
                        <div></div>
                    </div>
                    <div class="animation-shape shape-triangle animation--anti-clockwise">
                        <div class="animation--rotating"></div>
                    </div>
                    <div class="animation-shape shape-diamond animation--anti-clockwise">
                        <div class="animation--rotating"></div>
                    </div>
            
                    <div class="static-shape shape-ring-1"></div>
                    <div class="static-shape shape-ring-2"></div>
                    <div class="static-shape shape-circle-1"></div>
            
                    <div class="static-shape pattern-dots-1"></div>
                    <div class="static-shape pattern-dots-2"></div>
            
                    <div class="static-shape ghost-shape ghost-shape-1"></div>
                </div>
            
                <div class="container bring-to-front">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="extra-bold display-md-3 font-md">Build an empire<span class="d-block display-md-4 light">Begin your conquest</span></h1>
                            <p class="lead">Fight, create, and destroy empires and alliances who stand in your way and become one of the most powerful people in your Discord!</p>
            
                            <nav class="nav mt-5">
                                <a href="https://discord.gg/8v8KYkc" class="nav-link mr-3 btn btn btn-rounded btn-contrast">
                                    <i class="fab fa-discord mr-3"></i> Support Server
                                </a>
            
                                <a href="https://discordapp.com/oauth2/authorize?&client_id=595817865492430848&scope=bot&permissions=10304" class="nav-link btn btn-rounded btn-outline-contrast">
                                    Add Bot
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            
                <!-- Isometric Mockups -->
            <section class="isometric-mockups">
                
    
                    <div class="tablet ipad landscape">
                            <div class="screen">
                                <img src="img/screens/tablet/1.png" alt="...">
                            </div>
                            <div class="button"></div>
                        </div>
                    
                        <div class="iphone light phone-big">
                            <div class="screen">
                                <img src="img/logo-light.png" alt="...">
                            </div>
                            <div class="notch"></div>
                        </div>
                    
                        <div class="iphone light phone-small">
                            <div class="screen">
                                <img src="img/logo-light.png" alt="...">
                            </div>
                            <div class="notch"></div>
                        </div>
                    
                        <div class="tablet ipad portrait">
                            <div class="screen">
                                <img src="img/screens/app/mobi.png" alt="...">
                            </div>
                            <div class="button"></div>
                        </div>
                
            </section>
            
                <!-- Partners -->
            <section class="section alter3-partners bg-contrast edge top-left">
                <div class="container bring-to-front pb-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-heading">
                                <i class="fas fa-handshake fa-3x accent mb-3"></i>
            
                                <h3 class="text-alternate heading-line">We've partnered with awesome servers</h3>
            
                                <p class="lead">
                                    Community leaders across the globe have found Conquest to be both a fun and entertaining way to spice up their server. We have had the opportunity to be a part of their communities and hopefully yours.
                                </p>
                            </div>
            
                            <ul class="nav">
                                
                                    <li class="nav-item mr-3 py-2 op-5"><a href="https://discordapp.com/invite/EYHTgJX"><img src="https://top.gg/images/logotrans.png" class="icon" alt=""></a> </li>
                                
                                    <li class="nav-item mr-3 py-2 op-5"><a href="https://discordapp.com/invite/tfQqub6"><img src="https://discord.boats/logo.png" class="icon" alt=""></a> </li>
                                
                                    <li class="nav-item mr-3 py-2 op-5"><a href="https://discord.gg/invite/jwqekY4"><img src="https://i.imgur.com/1hUeqqS.png" class="icon" alt=""></a> </li>

                                    <li class="nav-item mr-3 py-2 op-5"><a href="https://discord.gg/invite/UfChhav"><img src="https://i.imgur.com/frGlTJI.png" class="icon" alt=""></a> </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            
            
                <!-- Powerful Features -->
            <section class="section alter3-features" id="features">
                <div class="shapes-container">
                    <div class="shape shape-ring shape-ring-1">
                        <div class="animation animation--rotating"></div>
                    </div>
                    <div class="shape shape-ring shape-ring-2">
                        <div class="animation animation--rotating"></div>
                    </div>
                    <div class="shape shape-circle animation--clockwise">
                        <div></div>
                    </div>
            
                    <div class="shape background-shape-main"></div>
                </div>
            
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 order-lg-last">
                            <div class="section-heading">
                                <p class="px-2 text-alternate text-uppercase bold">Powerful features await for you</p>
                                <h2 class="heading-line">Loaded with entertaining and immersive features</h2>

                                <p>We work with our playerbase to create unique and interesting features that make the community excited to play more. Here are a few key ones. </p>
            
                            </div>
                        </div>
            
                        <div class="col-lg-7 pr-lg-6">
                            <div class="row">
                                <div class="col-lg-6 rotated-cards">
                                    
                                    
                <div data-aos="fade-down" data-aos-delay="0">
                    <div class="card border-0 shadow mb-5 tilt">
                        <div class="card-body py-5 px-4">
                            <div class="icon-box rounded-circle gradient gradient-primary-light text-contrast shadow icon-xl mb-3">
                                <i class="icon m-0 pe pe-7s-shield pe-3x"></i>
                            </div>
            
                            <h4 class="bold mb-5">Conquest</h4>
            
                            <p class="text-muted lead">Fight to take control of the land and grow your empire</p>
                        </div>
                    </div>
                </div>
            
                <div data-aos="fade-down" data-aos-delay="500">
                    <div class="card border-0 shadow mb-5 tilt">
                        <div class="card-body py-5 px-4">
                            <div class="icon-box rounded-circle gradient gradient-primary-light text-contrast shadow icon-xl mb-3">
                                <i class="icon m-0 pe pe-7s-users pe-3x"></i>
                            </div>
            
                            <h4 class="bold mb-5">Player Interaction</h4>
            
                            <p class="text-muted lead">Form alliances and bonds with other players and empires to secure your position</p>
                        </div>
                    </div>
                </div>
            
                                </div>
            
                                <div class="col-lg-6 rotated-cards">
                                    
                                    
                <div data-aos="fade-down" data-aos-delay="800">
                    <div class="card border-0 shadow mb-5 tilt">
                        <div class="card-body py-5 px-4">
                            <div class="icon-box rounded-circle gradient gradient-primary-light text-contrast shadow icon-xl mb-3">
                                <i class="icon m-0 pe pe-7s-light pe-3x"></i>
                            </div>
            
                            <h4 class="bold mb-5">Strategy</h4>
            
                            <p class="text-muted lead">Manage your empire's resources wisely to grow your wallet and strength</p>
                        </div>
                    </div>
                </div>
            
                <div data-aos="fade-down" data-aos-delay="1200">
                    <div class="card border-0 shadow mb-5 tilt">
                        <div class="card-body py-5 px-4">
                            <div class="icon-box rounded-circle gradient gradient-primary-light text-contrast shadow icon-xl mb-3">
                                <i class="icon m-0 pe pe-7s-like2 pe-3x"></i>
                            </div>
            
                            <h4 class="bold mb-5">Simple</h4>
            
                            <p class="text-muted lead">Intuitive yet simple design makes playing Conquest simple and fun</p>
                        </div>
                    </div>
                </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
                <!-- Powered Design Blocks -->
            <section class="section powered-design" id="product">
                <div class="shapes-container">
                    <div class="shape shape-circle shape-circle-1">
                        <div data-aos="fade-up-left" data-aos-duration="1500"></div>
                    </div>
                    <div class="shape shape-circle shape-circle-2">
                        <div data-aos="fade-up-left" data-aos-duration="1200" data-aos-delay="500"></div>
                    </div>
                    <div class="shape shape-ring animation--rotating-diagonal">
                        <div></div>
                    </div>
                    <div class="shape shape-triangle shape-animated">
                        <div class="animation--rotating"></div>
                    </div>
            
                    <div class="shape pattern-dots-1"></div>
                </div>
            
                <div class="container">
                    <div class="row gap-y align-items-center">
                        <div class="col-md-6">
                            <div class="section-heading">
                                <h2 class="heading-line">Powered by modern technologies</h2>
                                <p class="lead text-muted">Conquest uses new powerful technologies to bring you a quick and reliable experience across the board.</p>
                            </div>
            
                        </div>
            
                        <div class="col-md-6">
                            
                                <div class="rounded tilt overflow-hidden shadow-box shadow-hover bg-contrast bg-card-contrast">
                                    <figure>
                                        <img src="img/screens/app/pieces/1.png" class="img-responsive" alt="">
                                    </figure>
                                </div>
                            
                                <div class="rounded tilt overflow-hidden shadow-box shadow-hover bg-contrast mt-5 bg-card-contrast">
                                    <figure>
                                        <img src="img/screens/app/pieces/2.png" class="img-responsive" alt="">
                                    </figure>
                                </div>
                            
                                <div class="rounded tilt overflow-hidden shadow-box shadow-hover bg-contrast mt-5 bg-card-contrast">
                                    <figure>
                                        <img src="img/screens/app/pieces/3.png" class="img-responsive" alt="">
                                    </figure>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            
                <!-- Features you can't miss -->
            <section class="section features-cant-miss">
                <div class="shapes-container overflow-clear">
                    <div class="shape shape-circle shape-circle-1">
                        <div data-aos="fade-up-left"></div>
                    </div>
                    <div class="shape shape-circle shape-circle-2">
                        <div data-aos="fade-up-right" data-aos-delay="200"></div>
                    </div>
                    <div class="shape shape-circle shape-circle-3">
                        <div data-aos="fade-up-left" data-aos-delay="400"></div>
                    </div>
                    <div class="shape shape-circle shape-circle-4">
                        <div data-aos="fade-up-left" data-aos-delay="600"></div>
                    </div>
            
                </div>
            
                <div class="container">
                    <div class="row gap-y">
                        <div class="col-md-6 order-md-last">
                            <div class="section-heading">
                                <i class="fas fa-trophy fa-2x text-danger mb-3"></i>
                                <h2 class="heading-line">Multiple platforms<br>Same game</h2>
                            </div>
            
                            <ul class="list-unstyled">
                                <li class="media flex-column flex-md-row text-center text-md-left">
                                    <i class="mx-auto mr-md-3 mx-auto mr-md-3 accent pe pe-7s-users pe-3x"></i>
                                    <div class="media-body mt-3 mt-md-0">
                                        <h5 class="bold mt-0 mb-1">Discord</h5>
                                        <p class="m-0">Wanting to play while still being able to talk to all your friends? We got you covered with our Discord bot!</p>
                                    </div>
                                </li>
            
                                <li class="media flex-column flex-md-row text-center text-md-left mt-4">
                                    <i class="mx-auto mr-md-3 mx-auto mr-md-3 accent pe pe-7s-global pe-3x"></i>
                                    <div class="media-body mt-3 mt-md-0">
                                        <h5 class="bold mt-0 mb-1">Web Panel</h5>
                                        <p class="m-0">Conquest has a unique web panel which you can control your empire from. This can also be saved as a mobile app!</p>
                                    </div>
                                </li>
            
                            </ul>
                        </div>
            
                        <div class="col-md-6">
                            <div class="bubble bubble-left center-x-md">
                                <figure class="rounded overflow-hidden shadow" data-aos="zoom-in">
                                    <img src="img/screens/app/pieces/4.png" class="img-responsive" alt="">
                                </figure>
                            </div>
            
                            <figure class="bubble bubble-right rounded overflow-hidden shadow">
                                <a href="/auth/discord"><img src="img/screens/app/pieces/5.png" class="img-responsive" alt="" data-aos="fade-left"></a>
                            </figure>
        
                        </div>
                    </div>
                </div>
            </section>
            
                
            <!-- FAQs -->
            <section class="section faqs-dd bg-light edge top-left" id="faq">
                <div class="shapes-container">
                    <div class="absolute icon" data-aos="fade-down-left">
                        <i class="fas fa-question"></i>
                    </div>
                </div>
            
                <div class="container">
                    <div class="section-heading text-center">
                        <h2 class="heading-line">Frequently Asked Questions</h2>
                        <p class="lead">Want to know more about Conquest?</p>
                    </div>
            
                    <div class="row">
                        <div class="col-lg-8 mx-lg-auto">
                            
                                <div data-aos="fade-up">
                                    <div class="card shadow-box shadow-hover mb-3">
                                        <div class="card-header py-3">
                                            <a href="#" class="card-title collapsed" data-toggle="collapse" data-target="#v1-q1">In short what is this game about?</a>
                                        </div>
            
                                        <div id="v1-q1" class="collapse card-body">
                                            Conquest is a resource management game which is placed in medieval times where users can build empires, take over others, and explore a procedurally generated map.
                                        </div>
                                    </div>
                                </div>
                            
                                <div data-aos="fade-up">
                                    <div class="card shadow-box shadow-hover mb-3">
                                        <div class="card-header py-3">
                                            <a href="#" class="card-title collapsed" data-toggle="collapse" data-target="#v1-q2">Where can I support the bot?</a>
                                        </div>
            
                                        <div id="v1-q2" class="collapse card-body">
                                            We don't ask for money, just for votes on our Discord bot list page! This in turn will promote the bot and gain more players!
                                        </div>
                                    </div>
                                </div>
                            
                                <div data-aos="fade-up">
                                    <div class="card shadow-box shadow-hover mb-3">
                                        <div class="card-header py-3">
                                            <a href="#" class="card-title collapsed" data-toggle="collapse" data-target="#v1-q3">How do I get involved with the community?</a>
                                        </div>
            
                                        <div id="v1-q3" class="collapse card-body">
                                            Simple! Just simple join our Discord <a href="https://discord.gg/8v8KYkc">Here</a>!
                                        </div>
                                    </div>
                                </div>
                            
                                <div data-aos="fade-up">
                                    <div class="card shadow-box shadow-hover mb-3">
                                        <div class="card-header py-3">
                                            <a href="#" class="card-title collapsed" data-toggle="collapse" data-target="#v1-q4">Can I suggest a new feature?</a>
                                        </div>
            
                                        <div id="v1-q4" class="collapse card-body">
                                            Definitely <span class='bold'>Yes</span>. We always are looking for ideas and our main source is our community. Simply join our Discord and message a staff member or post in our suggestions chat!
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            
                <!-- Start For Free -->
            <section class="section start-free bg-light" id="begin">
                <div class="shapes-container">
                    
                    
                        <i class="icon pe pe-7s-hourglass pe-3x"></i>
                    
                        <i class="icon pe pe-7s-magic-wand pe-3x"></i>
                    
                        <i class="icon pe pe-7s-rocket pe-3x"></i>
                    
                        <i class="icon pe pe-7s-plugin pe-3x"></i>
                    
                        <i class="icon pe pe-7s-like pe-3x"></i>
                    
                        <i class="icon pe pe-7s-clock pe-3x"></i>
                    
                    
                        <i class="icon pe pe-7s-piggy pe-3x"></i>
                    
                        <i class="icon pe pe-7s-shield pe-3x"></i>
                    
                    
                </div>
            
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="section-heading text-center">
                                <i class="pe pe-7s-unlock fa-3x text-alternate"></i>
                                <h2 class="heading-line bold mt-4">Start your adventure</h2>
                                <p class="lead text-muted">Why wait? Add the bot to your Discord server or start your adventure through our panel! Safe travels.</span></p>
                            </div>
                        </div>
                    </div>
            
                    <div class="nav flex-column flex-md-row align-items-center justify-content-center">
                        <a href="https://discordapp.com/oauth2/authorize?&client_id=595817865492430848&scope=bot&permissions=10304" class="btn btn-alternate btn-lg py-3 px-4 bold mr-0 mr-md-3 mb-3 mb-md-0">Add bot to server</a>
                        <a href="/auth/discord" class="btn btn-outline-light btn-lg py-3 px-4 bold">Login to panel</a>
                    </div>
                </div>
            </section>

            </main>
    <%- include partials/footer.ejs %>
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/counterup2.js"></script>
    <script src="js/odometer.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/snap.svg.js"></script>
    <script src="js/tilt.jquery.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/noframework.waypoints.js"></script>
    <script src="js/forms.js"></script>
    <script src="js/scrollspy.js"></script>
    <script src="js/site.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149869426-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149869426-1');
    </script>

</body>

</html>