<footer class="site-footer section bg-dark text-contrast edge top-left">
        <div class="container py-3">
            <div class="row gap-y text-center text-md-left">
                <div class="col-md-4 mr-auto">
                    <img src="img/logo-light.png" alt="" class="logo">
    
                    <p>Conquest is a game developed by uber#0001 and JPBBerry#0001 contact us on discord!</p>
                </div>
    
                <div class="col-md-2">
                    <nav class="nav flex-column">
                        <a class="nav-item py-2 text-contrast" href="https://discord.gg/8v8KYkc">Our Server</a>
                        <a class="nav-item py-2 text-contrast" href="https://discordapp.com/oauth2/authorize?&client_id=595817865492430848&scope=bot&permissions=10304">Add bot</a>
                    </nav>
                </div>
    
                <div class="col-md-2">
                    <nav class="nav flex-column">
                        <a class="nav-item py-2 text-contrast" href="#features">Features</a>
                        <a class="nav-item py-2 text-contrast" href="#faq">FAQ</a>
                    </nav>
                </div>
    
                <div class="col-md-2">
                    <nav class="nav flex-column">
                        <a class="nav-item py-2 text-contrast" href="#product">Technologies</a>
                        <a class="nav-item py-2 text-contrast" href="/auth/discord">Login</a>
                        <a class="nav-item py-2 text-contrast" href="#" onclick="alert('Iara is a qt')">Click Me</a>
                    </nav>
                </div>
    
                <div class="col-md-2">
                    <h6 class="py-2 small">Follow us</h6>
    
                    <nav class="nav justify-content-around">  
                        <a href="https://twitter.com/ThatGuyUber" class="btn btn-circle btn-sm brand-twitter"><i class="fab fa-twitter"></i></a>
                    </nav>
                </div>
            </div>
    
            <hr class="mt-5 op-5" />
            <div class="row small">
                <div class="col-md-4">
                    <p class="mt-2 mb-0 text-center text-md-left">© 2019 Gage Pielsticker. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>